.container{
    background-image: url("/assets/black women in tech.jpg");
    background-repeat: no-repeat;
    background-position: right top;
}
.flex-container {
  background-color: rgb(65, 204, 250);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 25em;
}

.flex-container > div {
  margin: auto;
  border-style: solid;
  border-radius: 12px;
  
  
}

.form-container {
    border-style: solid;
    width: 25em;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    
} 

.form-container > mat-card-title
{
  font-size: 30px;
  font-family: 'Quattrocento Sans', sans-serif;
   
}
 
p{
  color: red;
  font-size: 15px;
}



