/* * {
  box-sizing: border-box;
} */
.raised-card > .form-container {
  box-shadow: 10px 10px 20px gray;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30em;
  height: 20em;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-left: 270px;


  
}

.container {
  position: st;
  display: flex;
  align-items: center;
  padding: 35px;
  flex-direction: row;
  justify-content: center;

  align-items: center;

  white-space: nowrap;
  overflow-x: auto;
}
.img-thumbnail {
  position: absolute;
  left: -13em;
  width: 300px;
  height: 300px;
}

.user-name {
  border-bottom: solid;
  width: 10em;
  margin-left: 20px;
}

/* .flex-container {
  background-image: url("/assets/black women in tech.jpg");
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 27em;
  width: 35em; */
/* }

.flex-container > div {
  margin: auto;
} */

.form-container > mat-card-title {
  font-size: 30px;
  font-family: "Quattrocento Sans", sans-serif;
}

p {
  color: red;
  font-size: 15px;
}
.col-sm-6 {
  position: absolute;
  background-color: lightblue;
  width: 270px;
  height: 300px;
  bottom: 50px;

/* top:0; right:0; height:100%; */
}
